<section class="advantages">
    <div class="container container-advantages">
    <ul class="list-advantages">
        <li class="list-advantages_item" ><img class="list-advantages_img" src="./images/coffee1.jpg" alt="">
          <svg class="list-advantages_vector" width="199"
          height="81">
          <use href="./sass/symbol-defs.svg#icon-vector"></use>
        </svg>
      <span class="number">01</span>
    <h3 class="advantages-title">Best Coffee Flavor</h3>
  <p class="advantages-article">Curabitur semper erat a lacusey sedny
    consequat,sit ametey.</p></li>
        <li class="list-advantages_item"  ><img class="list-advantages_img" src="./images/coffee2.jpg" alt=""> <svg class="list-advantages_vector" width="199"
          height="81">
          <use href="./sass/symbol-defs.svg#icon-vector"></use>
        </svg>
      <span class="number">02</span>
    <h3 class="advantages-title">Proper Roasting</h3>
  <p class="advantages-article">Curabitur semper erat a lacusey sedny
    consequat,sit ametey.</p></li>
        <li class="list-advantages_item" ><img class="list-advantages_img" src="./images/coffee3.jpg" alt=""> <svg class="list-advantages_vector" width="199"
          height="81">
          <use href="./sass/symbol-defs.svg#icon-vector"></use>
        </svg>
      <span class="number">03</span>
    <h3 class="advantages-title">Place to Get Lost</h3>
  <p class="advantages-article">Curabitur semper erat a lacusey sedny
    consequat,sit ametey.</p></li>
      </ul>
    </div>
</section class="advantages">