<section class="hero-header">
  <div class="container hero-header__box">
    <nav>
      <ul>
          <li> <a href="">Home</a></li>
          <li> <a href="">About</a></li>
          <li> <a href="">Manu</a></li>
          <li> <a href="">Reservation</a></li>
      </ul>
  </nav>
  <a href=""></img src="" alt="logo"></a>
  <nav>
   
      <ul>
        <li><a href="">Pages</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>
<button></img src="" alt="search"></button>
<button></img src="" alt="menu"></button>


<div>
  <h2>ONE OF THE BEST COFFEE HOUSE IN YOUR HOME TOWN</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit do eiusmod veniam, quis nostrud exercitation
      laboris nisi ut aliquip ex ea commodo consequat.</p>
      <ul>
          <li><button>Explore More</button></li>
          <li><button>Read More</button></li>
      </ul>
    </img src="" alt="cooffe heart">
    </div>

  </div>
</section>