<section class="hero-header">
  <div class="container hero-header__box">
    <nav class="navigation">
      <ul class="navigation-list first">
          <li> <a href="">Home</a></li>
          <li> <a href="">About</a></li>
          <li> <a href="">Manu</a></li>
          <li> <a href="">Reservation</a></li>
      </ul>
  
  <a href="" class="logo"><svg width="65"
    height="53">
    <use href="./sass/symbol-defs.svg#icon-logo"></use>
  </svg></a>
  
   
      <ul class="navigation-list second">
        <li><a href="">Pages</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Contact</a></li>
    </ul>

    
      <button class="search-btn" ><svg width="26"
        height="26">
        <use href="./sass/symbol-defs.svg#icon-search"></use>
      </svg></a></button>
      <button class="menu-btn"><svg width="26"
        height="26">
        <use href="./sass/symbol-defs.svg#icon-menu"></use>
      </svg></a></button>
  
</nav>



<div class="hero">
  <div class="hero-text">
    <h2 class="hero-title">ONE OF THE BEST COFFEE HOUSE IN YOUR HOME TOWN</h2>
    <p class="hero-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit do eiusmod veniam, quis nostrud exercitation
        laboris nisi ut aliquip ex ea commodo consequat.</p>

        <ul class="hero-btn">
          <li><button type="button" class="btn-explore">Explore More</button></li>
          <li><button type="button" class="btn-read">Read More</button></li>
      </ul>
  </div>
    <img class="hero-img" src="./images/heart.png" alt="cooffe heart">
    </div>

  </div>

</section>