<section class="popular-product">
    <div class="container popular-product_box">
        <button type="button" class="roasted_btn-explore">Popular Product</button>
        <h2 class="coffee-title" >Cafena Popular Product</h2>
        <ul class="products__list">
            <li class="products__item"><img class="products__photo" src="./images/product1.jpg" alt=""><p class="product__name">Vicaragua Coffee Beans</p><span class="product__price">$29</span></li>
            <li class="products__item"><p class="product__name">Espresso Ristretto</p><span class="product__price">$29</span></li>
            <li class="products__item"><p class="product__name">Ethiopia Coffee</p><span class="product__price">$29</span></li>
        </ul>
    </div>
  
  </section>